{% extends 'base.html.j2' %}
{% block title %}
    Home
{% endblock %}

{% block content %}
<section class="showcase">
<video src="https://res.cloudinary.com/dxmayvsdu/video/upload/v1655835324/hivebeelpbg_twuomg.mp4" muted loop autoplay disablePictureInPicture controlsList="nodownload"></video>

<div class = "container">
    <div class = "row">
        <div class = "col" id="text"><img id=logo src="https://res.cloudinary.com/dxmayvsdu/image/upload/v1655990816/Hive_App_Logo_750_500_px_1000_750_px_ctzaep.png" alt="hive logo">        
        </div>
    </div>
</div>
</div>
</section>
{% endblock %}