{% extends 'base.html.j2' %}
{% block head %}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js" defer></script>
    <script src="./weather.js" defer></script>
{% endblock %}
{% block title %}
  Weather
{% endblock %}

{% block content %}
<div class="body">
    <div class = weather>
    <h2>Is it time for an inspection?</h2>
    <h6>Weather can determine hive temperment and if it is safe for the bees! Heavy rain can drown bees, and cold temperatures can increase aggressiveness.</h6>
    </div>
    <div class="container mt-5 p-3 col-10">
        <div class="col">
                <form class="m-3" id="search" method='POST'>
                    {{form.hidden_tag()}}
                    <label for="Zip" id="zip" class="form-label">Zip Code: </label>
                    <input name="zip" class="form-control" id="locationzip" placeholder="Enter the Zip Code where your Apiary is Located">
                    <button type="submit" class="btn btn-warning form-control mt-2">Search</button>
                </form>
        </div>

        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">    
                <div class="card text-bg-dark mb-3">
                    <div class="card-body">
                    <h5 class="card-title">Current Temperature (°F)</h5>
                    <p class="card-text" id="temp">{{forecast.temp}} °</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-bg-dark mb-3">
                    <div class="card-body">
                    <h5 class="card-title">Current Weather</h5>
                    <p class="card-text" id="weather">{{forecast.weather}}</p>
                    </div>
                </div>
            </div>
        
    
        </div>
    </div>
    
    
    
</div>


{% endblock %}